<!--Header-->
<table class="tableBorder">
    <td>
  <div>
    <h1>PlaningPoker</h1>
  </div>

  <!--Pojec/User data-->
  <p>
    Name <br/> <input [(ngModel)]="name">
  </p>
  <p>
    Project number <br/> <input [(ngModel)]="projectNum">
  </p>
  <!--Buttpns-->
  <div>
    <table>
        <td>
          <table class="cardTable">
            <tr>
              <td class="cardTable">
                  <button class="myButton" (click)="estimating(1)">1</button>
              </td>
              <td class="cardTable">
                  <button class="myButton" (click)="estimating(2)">2</button>
              </td>
              <td class="cardTable">
                <button class="myButton" (click)="estimating(3)">3</button>
              </td>
            </tr>
            <tr>

                <td class="cardTable">
                    <button class="myButton" (click)="estimating(5)">5</button>
                </td>

                <td class="cardTable">
                    <button class="myButton" (click)="estimating(8)">8</button>
                </td>
              </tr>
          </table>
        </td>
        <td>
            {{estimate}}
        </td>
      </table>
      <button class="sendButton">send</button>
</div>
</td>
</table>
<router-outlet></router-outlet>
