<!--Header-->
<div class="container">
  <!--User Panel-->
  <table class="tableBorder">
      <td>
    <div>
      <h1>PlaningPoker</h1>
    </div>
    <!--Pojec/User data-->
    <p>
      Name <br/> <input [(ngModel)]="name">
    </p>
    <p>
      Project number <br/> <input [(ngModel)]="projectNum">
    </p>
    <!--Buttpns-->
    <div>
      <table>
          <td>
            <table class="cardTable">
              <tr>
                <td class="cardTable">
                    <button class="myButton" (click)="estimating(1)">1</button>
                </td>
                <td class="cardTable">
                    <button class="myButton" (click)="estimating(2)">2</button>
                </td>
                <td class="cardTable">
                  <button class="myButton" (click)="estimating(3)">3</button>
                </td>
              </tr>
              <tr>

                  <td class="cardTable">
                      <button class="myButton" (click)="estimating(5)">5</button>
                  </td>

                  <td class="cardTable">
                      <button class="myButton" (click)="estimating(8)">8</button>
                  </td>
                </tr>
            </table>
          </td>
          <td>
              {{estimate}}
          </td>
        </table>
        <button class="sendButton">send</button>
  </div>
  </td>
  </table>
  <!--Admin Panel-->

  <div style="clear: both;">
    <div class="borderContainer">
      <h2>Admin Panel</h2>
      <button class="sendButton">
        Get estimates
      </button>
    </div>

    <table class="tableBorder">
      <tr>
        <td>
          <div id="estimate-value">
            <h1>1</h1>
            count: {{est1List.length}}
          </div>
        </td>
        <td>
          <div id="estimate-value">
            <h1>2</h1>
            count: {{est2List.length}}
          </div>
        </td>
        <td>
          <div id="estimate-value">
            <h1>3</h1>
            count: {{est3List.length}}
          </div>
        </td>
        <td>
          <div id="estimate-value">
            <h1>5</h1>
            count: {{est5List.length}}
          </div>
        </td>
        <td>
          <div id="estimate-value">
            <h1>8</h1>
            count: {{est8List.length}}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <table>
            <ng-container *ngIf="est1List.length > 0;">
            <tr *ngFor="let ngname of est1List">
              <td>
                <div id="ngname">
                  {{ngname}}
                </div>
              </td>
            </tr>
          </ng-container>
          </table>
        </td>
        <td>
          <table>
            <ng-container *ngIf="est2List.length > 0;">
            <tr *ngFor="let ngname of est2List">
              <td>
                <div id="ngname">
                  {{ngname}}
                </div>
              </td>
            </tr>
          </ng-container>
          </table>
        </td>
        <td>
          <table>
            <ng-container *ngIf="est3List.length > 0;">
            <tr *ngFor="let ngname of est3List">
              <td>
                <div id="ngname">
                  {{ngname}}
                </div>
              </td>
            </tr>
          </ng-container>
          </table>
        </td>
        <td>
          <table>
            <ng-container *ngIf="est5List.length > 0;">
            <tr *ngFor="let ngname of est5List">
              <td>
                <div id="ngname">
                  {{ngname}}
                </div>
              </td>
            </tr>
          </ng-container>
          </table>
        </td>
        <td>
          <table>
            <ng-container *ngIf="est8List.length > 0;">
            <tr *ngFor="let ngname of est8List">
              <td>
                <div id="ngname">
                  {{ngname}}
                </div>
              </td>
            </tr>
          </ng-container>
          </table>
        </td>
      </tr>
    </table>

      <div class="borderContainer">
        <div>
          Average<br/><br/>
          <div id="divCard">
            {{estimateAverage}}
          </div>
        </div>

      </div>
    </div>
</div>
<router-outlet></router-outlet>
